@model IEnumerable<CafeGrove.Models.Order>


<div class="panel panel-default">
    <div id="allProducts">
        <div class="panel-heading">Order <span class="badge badge-danger">@Model.Count()</span></div>
        <div class="panel-body">

            <ul class="list-group">
                @foreach (var item in Model)
                {
                <li class="list-group-item ">
                    <div>
                        <h4>@item.Product.Name</h4>
                        Quanity: <small class="text-muted">@item.Quantity</small>
                    </div>
                    Price: <span class="text-muted">£@item.Product.Price</span>
                    <button class="btn btn-danger glyphicon glyphicon-remove btn-sm deleteProduct" id="@item.Id"></button>
                </li>

                }
                <li class="list-group-item  ">
                    <span>Total: </span>
                    <strong>£ @Model.Sum(x => x.Quantity * x.Product.Price)</strong>
                </li>
            </ul>
        </div>

    </div>
</div>




