@using System.Data
@using CafeGrove.Models
@model IEnumerable<CafeGrove.Models.Category>

@{
    ViewBag.Title = "Take Order";
}

@*<h2>title</h2>*@
<div class="container">


    <h2>Take Order</h2>
    <div class="row">

        <div class="col-md-8">

            <div class="panel panel-default" style="height: 500px">
                <div class="panel-heading">Products</div>
                <div class="panel-body">
                    <br />
                    @foreach (var item in Model)
                    {
                        var divId = "div" + item.Id;

                        <div id="@divId" class="productDiv">
                            @foreach (var product in item.Products)

                            {
                                <button class="btn btn-primary addProduct" id="@product.Id">@product.Name</button>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
        @Html.Hidden("hdnTableNo", (string)ViewBag.tableNo)
        <div class="col-md-4">


            @{
                Html.RenderAction("GetOrder", new { tableNo = ViewBag.tableNo.ToString() });
            }


        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Categories</div>
                <div class="panel-body">

                    @foreach (var item in Model)
                    {
                        <button class="btn btn-danger showProduct" id="@item.Id">@item.Name</button>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href=" @Url.RouteUrl("Tables")" class="btn btn-warning">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Go Back to Tables
            </a>
            
            <a href=" @Url.RouteUrl("CompleteOrder")" class="btn btn-warning" data-item-id="@ViewBag.tableNo" data-item-description="@ViewBag.tableNo" data-toggle="modal" data-target="#confirm-delete">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Complete Order
            </a>
            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to complete the order of table number:<b> <span class="description"></span></b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        //$('.panel-collapse').on('show.bs.collapse', function () {
        //    $(this).siblings('.panel-heading').addClass('active');
        //});

        //$('.panel-collapse').on('hide.bs.collapse', function () {
        //    $(this).siblings('.panel-heading').removeClass('active');
        //});

        var $ = jQuery;
        $(document).ready(function () {
            $('.productDiv').hide();
            //.addProduct
            $('.addProduct').click(function () {
                debugger;
                var productId = $(this).attr("id");
                var tableNo = $("#hdnTableNo").val();
                //"Url.Action("AddToOrder","Order")"+"/"+tableNo+"/"+productId,
                $.get({
                    url: "/Order/AddToOrder/" + tableNo + "/" + productId
                }).done(function (result) {
                    $('#allProducts').html(result);
                }).fail(function() {
                    alert( "error" );
                });

            });
            $('#confirm-delete').on('click', '.btn-ok', function(e) {
                var $modalDiv = $(e.delegateTarget);
                var id = $(this).data('itemId');        
                //$modalDiv.addClass('loading');
                $.get('/Order/CompleteOrder/' + id).then(function () {
                    //$modalDiv.modal('hide').removeClass('loading');
                }).done(function (result) {
                    $('#allProducts').html(result);
                });
            });
            $('#confirm-delete').on('show.bs.modal', function(e) {
                var data = $(e.relatedTarget).data();
                $('.description', this).text(data.itemDescription);
                $('.btn-ok', this).data('itemId', data.itemId);
            });

            $('.showProduct').click(function () {

                var id = $(this).attr("id");
                var divId = "#div" + id;
                $('.productDiv').hide();
                $(divId).show("fast");

                //$(Create).show();

            });
        });
    </script>
}
